body {
  background: linear-gradient(120deg, #4e54c8, #8f94fb);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; 
  background-size: cover; 
}

.container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  max-width: 700px;
  width: 90%;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  opacity: 0;
  transform: scale(0.5);
}

.container.loaded {
  opacity: 1;
  transform: scale(1);
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0.5rem 0;
}

h1 {
  color: #ffe600;
  font-size: 2.5rem;
  text-align: center;
}

h2, h3 {
  color: #ffffff;
  text-align: center;
}

#username {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  display: inline-block;
  margin: 10px 0;
}

button:hover {
  transform: scale(1.05);
}

.btn-primary {
  background-color: #ffe600;
  color: #333333;
}

.btn-outline-primary {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  color: #ffffff;
}

.btn-outline-primary:hover {
  background: #ffffff;
  color: #4e54c8;
}

.btn-success {
  background-color: #4caf50;
  color: #ffffff;
}

.btn-play-again {
  background-color: #ffdd57;
  color: #4e54c8;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn-play-again:hover {
  background-color: #ffcc00;
  color: #333333;
}

.choice-display {
  background: #ffffff;
  color: #4e54c8;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
}

#result {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  color: #ffdd57;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#round-number {
  color: #ffe600;
  font-size: 1.5rem;
}

#final-message {
  font-size: 1.2rem;
  font-weight: bold;
  background: #ffffff;
  color: #4e54c8;
  padding: 15px;
  border-radius: 5px;
  margin: 20px 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2, h3 {
    font-size: 1.2rem;
  }

  .container {
    padding: 15px 20px;
    width: 95%;
  }

  button {
    padding: 10px 15px;
    font-size: 0.9rem;
  }

  #result {
    font-size: 1rem;
  }
}
